<section class="bg-sky-200">
    <div class="max-w-screen-xl px-4 mx-auto">
        <blockquote>
            <p>{{ quote.content }}</p>
            <cite>{{ quote.cite }}</cite>
        </blockquote>
    </div>
</section>