<section class="py-8 bg-sky-500 sm:py-20">
    <div class="max-w-screen-xl px-4 mx-auto prose">
        <blockquote class="text-black border-0">
            <p class="text-[36px] not-italic font-bold -indent-4 leading-tight mt-0">{{ quote.content }}</p>
            <cite>&mdash; {{ quote.cite }}</cite>
        </blockquote>
    </div>
</section>