<!DOCTYPE html>
<html class="antialiased text-gray-900" lang="en">
  <head>
    {% include "partials/site-head.njk" %}
  </head>
  <body class="min-h-screen bg-white" data-env="{{ node.env }}">
    {% include "partials/site-header.njk" %}

    {% block content %}{% endblock %}

    {% include "partials/footer.njk" %}

    <script type="module" src="/main.js"></script>
  </body>
</html>