<!DOCTYPE html>
<html class="antialiased leading-tight text-gray-900" lang="en">
  <head>
    {% include "partials/site-head.html" %}
  </head>
  <body class="min-h-screen bg-white">
    {% include "partials/site-header.html" %}
    {% block content %}
      <header class="py-8 sm:py-16 bg-slate-800">
        <div class="max-w-screen-xl px-4 mx-auto">
          <h1 class="text-3xl font-bold text-white sm:text-5xl">
            {{ intro.title }}
          </h1>
        </div>
      </header>
      <main id="main-content" tabindex="-1">
        <div class="max-w-screen-xl px-4 mx-auto">
          <div class="py-8 leading-8 text-gray-600">
            <p class="text-2xl">{{ intro.desc }}</p>
          </div>
          <div class="prose prose-lg text-gray-500 prose-gray">{{ content }}</div>
        </div>
      </main>
    {% endblock %}

    <script type="module" src="/main.js"></script>
  </body>
</html>