<article class="py-8 text-white lg:py-20 bg-slate-800">
    <div class="max-w-screen-xl px-4 mx-auto mb-16 sm:px-8">
        <h2 class="text-2xl font-bold text-center sm:text-4xl">{{ benefits.title }}</h2>
    </div>
    <ul class="grid gap-8 sm:grid-cols-3">
        {% for item in benefits.items %}
            <li class="pb-8 sm:pb-0 last:pb-0">
                <svg class="w-full mx-auto mb-4 text-sky-400" fill="none" stroke="currentColor" stroke-width="0.03125rem" stroke-linecap="round" stroke-linejoin="round">
                    <use href="images/feather-sprite.svg#{{ item.icon }}"/>
                </svg>
                <p class="w-full text-center">{{ item.text }}</p>
            </li>
        {% endfor %}
    </ul>
</article>