<footer class="pt-16 text-white bg-slate-800 sm:pt-32">
    <div class="flex items-start max-w-screen-xl px-4 pb-8 mx-auto">
        <div class="mr-8">
            <a class="block text-2xl font-extrabold leading-none tracking-wider transition text-sky-300 hover:text-sky-200 focus:text-sky-200" href="/">
                <span class="sr-only">Home</span>
                āxōlōtl
            </a>
        </div>
        <div>
            <nav aria-labelledby="footer-navigation">
                <h2 class="sr-only" id="footer-navigation">Footer navigation</h2>
                <ul class="text-sm">
                    {% for item in navigation.items %}
                        <li class="pb-2 last:pb-0">
                            <a href="{{ item.url }}" class="font-bold text-white transition hover:text-white/75 focus:text-white/75" {{
                current
                }}>
                                {{ item.text }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>

            </nav>
        </div>
    </div>
    <div class="py-4 border-t border-slate-700 bg-slate-900">
        <div class="flex items-center max-w-screen-xl px-4 mx-auto text-xs justify-betwee">
            <div>
                &copy;
                {% year %}
                Meow meow meows |
                <a class="text-white transition hover:text-sky-200 focus:text-sky-200 hover:underline focus:underline" href="/privacy-policy/">Privacy Policy</a>
            </div>
        </div>
    </div>
</footer>