<section class="relative mb-8 bg-white lg:mb-16">
  <img class="absolute inset-0 object-[75%] sm:object-[25%] object-cover w-full h-full opacity-25 sm:opacity-100" src="{{ hero.image }}" alt="Couple on a bed with a dog"/>

  <div class="hidden sm:block sm:inset-0 sm:absolute sm:bg-gradient-to-r sm:from-white sm:to-transparent"></div>

  <div class="relative px-4 py-32 mx-auto sm:px-6 lg:px-8 lg:h-screen-50 lg:items-center lg:flex">
    <div class="w-full max-w-screen-xl px-4 mx-auto text-center sm:text-left">
      <h1 class="text-3xl font-extrabold sm:text-5xl">
        {{ hero.titleTop }}
        <strong class="font-extrabold text-sky-700 lg:pt-2 sm:block">
          {{ hero.titleBottom }}
        </strong>
      </h1>

      <p class="max-w-lg mt-4 sm:leading-relaxed sm:text-xl">
        {{ hero.dek }}
      </p>

      <div class="flex flex-wrap gap-4 mt-8 text-center">
        <a class="block w-full px-12 py-3 text-sm font-bold tracking-wide text-white uppercase transition rounded shadow bg-sky-700 sm:w-auto active:bg-rose-500 hover:bg-rose-700 focus:outline-none focus:ring hover:shadow-xl" href="{{ hero.button01.link }}">
          {{ hero.button01.text }}
        </a>

        <a class="block w-full px-12 py-3 text-sm font-bold tracking-wide uppercase transition bg-white rounded shadow text-sky-700 sm:w-auto hover:text-rose-700 active:text-rose-500 focus:outline-none focus:ring hover:shadow-xl" href="{{ hero.button02.link }}">
          {{ hero.button02.text }}
        </a>
      </div>
    </div>
  </div>
</section>