<header class="bg-gray-900" x-data="{ isOpen: false }"
      @keydown.escape="isOpen = false"
      :class="{ 'shadow-lg bg-indigo-900' : isOpen , 'bg-gray-800' : !isOpen}">
    <div class="max-w-screen-xl px-4 mx-auto sm:px-6 lg:px-8">
        <div class="flex items-center justify-between h-16">
            <div class="md:flex md:items-center md:gap-12">
                <a class="block px-4 py-2 text-2xl font-extrabold leading-none tracking-wider transition bg-transparent rounded-lg text-sky-300 lg:-ml-8 hover:bg-gray-800 focus:bg-gray-80 hover:text-sky-200 focus:text-sky-200" href="/">
                    <span class="sr-only">Home</span>
          āxōlōtl
        </a>
            </div>
            <div class="hidden md:block" :class="{ 'block shadow-3xl': isMobileNavOpen, 'hidden': !isMobileNavOpen }" @click.away="isMobileNavOpen = false" x-show.transition="true">
                <nav role="navigation" aria-label="main" aria-labelledby="header-navigation">
                    <h2 class="sr-only" id="header-navigation">Header navigation</h2>
                    <ul class="items-center gap-16 text-sm md:flex">
                        {% for item in navigation.items %}
                            {% if item.url == page.url %}
                                {%
            set highlight = 'cursor-default' %}
                                {% set current =
            'aria-current=true' %}
                                {% set highlight = 'underline' %}
                            {%
            else %}
                                {% set highlight = 'no-underline' %}
                                {% set current = '' %}
                            {% endif %}
                            <li>
                                <a href="{{ item.url }}" class="text-white font-bold transition hover:text-white/75 focus:text-white/75 {{ highlight }}" {{
                current
                }}>
                                    {{ item.text }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>

                </nav>
            </div>
            <div class="flex items-center gap-4">
                <div class="sm:flex sm:gap-4">
                    <div class="hidden sm:flex">
                        <a href="/accessibility/" class="rounded-md bg-sky-700 px-5 py-2.5 text-sm font-bold tracking-wide text-white hover:bg-rose-700 focus:bg-rose-700 transition uppercase">
              Do A Thing
            </a>
                    </div>
                </div>
                <div class="block md:hidden">
                    <button @click="isMobileNavOpen = !isMobileNavOpen" type="button" class="p-2 transition rounded bg-gray-50" :class="{ 'transition transform-180': isMobileNavOpen }" x-bind:aria-label="isMobileNavOpen ? 'Close main menu' : 'Main menu'"
              aria-label="Main menu"
              x-bind:aria-expanded="isMobileNavOpen">
                        <span class="sr-only">Mobile Menu</span>
                        <svg
                            class="w-6 h-6 fill-current"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24"
                            >
                            <path
                                x-show="isMobileNavOpen"
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M18.278 16.864a1 1 0 0 1-1.414 1.414l-4.829-4.828-4.828 4.828a1 1 0 0 1-1.414-1.414l4.828-4.829-4.828-4.828a1 1 0 0 1 1.414-1.414l4.829 4.828 4.828-4.828a1 1 0 1 1 1.414 1.414l-4.828 4.829 4.828 4.828z"
/>
                            <path
                                x-show="!isMobileNavOpen"
                                fill-rule="evenodd"
                                d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"
/>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
</header>