<section class="flex justify-between max-w-screen-xl py-8 mx-auto prose sm:py-20">
    <div class="w-full px-8 -mx-8 sm:w-2/3">
        <h2 class="mt-0 text-3xl">{{ tabs.title }}</h2>
        {{ tabs.content | safe}}
    </div>
    <div class="w-full px-8 -mx-8 sm:w-1/3">
        <figure class="mt-0">
            <img laoding="lazy" src="{{ tabs.image.path }}"
         alt="{{ tabs.image.alt }}">
            <figcaption>{{ tabs.image.alt }}</figcaption>
        </figure>
    </div>
</section>

<div x-data="{ opentab: 1 }" class="p-6">
    <ul class="flex border-b">
        <label @click="opentab = 1" class="mr-1 -mb-px">
            <span class="inline-block px-4 py-2 font-semibold text-blue-700 bg-white border-t border-l border-r rounded-t" >Tab 1</span>
        </label>
        <label @click="opentab = 2" class="mr-1">
            <span class="inline-block px-4 py-2 font-semibold text-blue-500 bg-white hover:text-blue-800" >Tab 2</span>
        </label>
        <label @click="opentab = 3" class="mr-1">
            <span class="inline-block px-4 py-2 font-semibold text-blue-500 bg-white hover:text-blue-800" >Tab 3</span>
        </label>
    </ul>
    <div class="w-full pt-4">
        <div x-show="opentab === 1">Tab #1</div>
        <div x-show="opentab === 2">Tab #2</div>
        <div x-show="opentab === 3">Tab #3</div>
    </div>
</div>